<div class="container">
    <div class="page-header">
        <h1><%= @participant.marathon.name %></h1>
        <h2>Bib <%= @participant.bib %></h2>
    </div>


    <div class="row">
        <div class="col-sm-8">
            <div class="row special">
                <%= render(partial: 'regular/photos/thumb', collection: @participant.photos, as: :photo) %>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>Right-hand column is for advertisements</h3>
        </div>
    </div>



</div>