<div class="modal fade item_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--<div class="modal-header">-->
      <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
      <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
      <!--</div>-->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <%= image_tag item.photo.thumb_url, class: 'img-responsive' %>
            </div>
            <div class="col-sm-8">
              <h3>1 Photo added to cart</h3>
              <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
              <%= link_to 'View Cart/Checkout', regular_cart_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="modal-footer">-->
      <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div>
  </div>
</div>