<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thank You for purchasing photos</h1>
<p>
  Click <%= link_to 'link', regular_order_url(@order) %> for view your photos.<br>
</p>
</body>
</html>