<h1>Marathons list</h1>

<%= link_to 'Add marathon', new_admin_marathon_path %>

<ul>
  <% @marathons.each do |m| %>
    <li>
      <%= link_to m.name, admin_marathon_path(m) %>
      <%= link_to 'Edit', edit_admin_marathon_path(m) %>
    </li>
  <% end %>
</ul>