/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
/*homepage*/
body{
  background: url('/assets/background.jpg') no-repeat center center fixed;
  background-size: 100%;
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 200px;
  font: 18px "Lucida Grande", Helvetica;
  font-size: 1.2vw;
}
/*responsive_logo*/
img {
  display: inline-block;
  height: auto;
  max-width: 60%;
}
/*header*/
.navbar-brand {
  float: left;
  margin-right: 5px;
  margin-left: -15px;
}
nav.navbar.navbar
{
  margin-left: 100px;
}
.navbar-nav {
  float: left;
  padding-right: 150px;
  padding-top: 17px;
  margin-bottom: 0;
  a {
      color: #bfbfbf;
      font-weight: normal;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
}
.hidden { display: none; }
/*responsive_font*/
h3{
    color: #FFF;
    font: 18px "Lucida Grande", Helvetica;
    font-size: 1.2vw;
    font-weight: normal;
}
/*contact form*/
#contacts{
    .btn-primary{
    color: #ffffff;
     background-color: #a35b35;
  }
}
/*about*/
#about{
   padding-top: 50px;
   p{
      color: #ffffff;
}
}
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}